html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

.hidden {
	display: none;
}

#app {
	background: #fff;
	margin: 0 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#app input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#app input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#app input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#header {
	background: #f5f5f5;
	width: auto;
	height: 5em;
}

#header h1, div {
	display: inline-block;
	vertical-align: middle;
}

#header h1 {
	height: 100%;
	float: left;
	margin: auto 10px;
	padding: 0;
	font-size: 42px;
	font-weight: 100;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header h1::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#header div {
	height: 100%;
	width: 500px;
	overflow: hidden;
	display:flex;
	align-items: center;
}

#header input {
	margin: 0;
	background: #fff;
	border: 1px solid #e0e0e0;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-size: 18px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	outline: none;
	color: inherit;
	padding: 8px 12px;
}

#header input:hover {
	border: 1px solid #bdbdbd;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

#loading {
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:rgba(0,0,0,0.3);
}

#options {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

#filters li a.selected,
#filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

#filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

#clear-completed,
html #clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

#clear-completed:hover {
	text-decoration: underline;
}

#info {
	width: 100%;
	margin: 0 0 10px 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

#info p {
	line-height: 1;
}

#info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

#info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}

	#toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	#options {
		height: 50px;
	}

	#filters {
		bottom: 10px;
	}
}
